@import url("variables.less");
@import url("mixins_table.less");
@media (min-width: 768px) and (max-width: 1024px) {
    .active_baner() {
    .active {
            visibility: hidden;
        float: left;
            width: 365px;
            height: 365px;
            background-color: rgba(70, 68, 68, 0.69);
            left: -15px;
            h3{
                color: #ffffff;
                font: 700 20px JosefinSans;
                text-align: left;
                margin-top: 200px;
            }
            hr {
                width: 50px;
                height: 2px;
                background-color: rgba(46, 204, 113, 0.5);
                margin-left: 0px;
            }
            p{
                color: #ffffff;
                font: 700 14px JosefinSans;
                text-align: left;
            }
         }
}

    .active_work() {
            .active{
            visibility: hidden;
            width: 310px;
            height: 80px;
            position: absolute;
            margin-top: 120px;
            margin-left: 30px;
            background-color: rgba(1, 250, 107, 0.61);
        .promo{
            position: relative;
            left: 20px;
            top: 0px;
            color: #ffffff;
            font: 700 14px / 20px JosefinSans;
            text-align: center;
            }
        }
}
    #carousel-example-generic {
        &.back_img{
        }
        .up {
            width: 70%;
        }
        .logo {
            text-align: center;
        }
        .nav {
            margin-left: 20%;
            
        }
        .Home {
            &:hover{
            }
        }
        .else {
            &:hover{
            }
        }
        .search_cart {
            margin-right: -10px;
        }
        .brascets {
            margin-right: -60px;
        }
        .circle {
        }


        h6 {
        color: #ffffff;
        font: 700 40px JosefinSans;
        height: 49px;
            text-align: center;
        }
        .line {
            text-align: center;
        }
        .text {
            text-align: center;
            font: 700 16px / 25px JosefinSans;
        }
        .learn_more {
            float: left;
            margin-left: 33%;
            @media (min-width: 810px) {
                margin-left: 35%;
            }
            
            p {
            }
        }

        .slide1 {
        }
        .slide2 {
        }
        .slide3 {
        }
    }
    
    
    .About_Us {
            width: 730px;
            height: 900px;
        margin-left: 10px;
        .media_helper();
        .button-img {
             margin-left: 200px;
        }
        .images {
            width: 350px;
            height: 350px;
            margin-top: 260px;
        }
        .images2 {
            width: 350px!important;
            height: 350px!important;
        }
        .creative {
            width: 300px;
            margin-left: 50px;
            margin-top: 230px;
            hr {
            }
        }
        h3 {
        }
        .upp {
        }
        .paragrpf {
            width: 300px!important;
        }
        .mission {
            font: 600 15px JosefinSans;
        }
        .skils {
            font: 600 15px JosefinSans;
        }
        .client {
            font: 600 15px JosefinSans;
        }
        .btn_browse {
                margin-left: -300px;
                margin-top: -80px;
            p {
            }
        }
        .folder {
        }
    }
    .what_we_do {
        margin-top: 50px;
        width: 730px;
        height: 500px;
        margin-left: 30px;
        .media_helper();
        .Photography {
            h3 {
            }
            p {
            }
        }
        .img {
        }
        .Web_Design {
            h3 {
            }
            p {
            }
        }
        .img2 {
        }
        .Marketing {
            margin-left: 180px;
            margin-top: 50px;
            h3 {
            }
            p {
            }
        }
        .img3 {
        }
    }
    .Recent_Works {
        width: 740px;
        height: 1550px;
        margin-left: 10px;
        .media_helper();
        &.container{
        }
        .btn_work {
            margin-left: 200px;
        }
        .work {
        }
        ul {
            display: inline;
        }
        .all {
            margin-left: 70px;
        }
        .animation {
        }
        .app {
        }
        .pht {
        }
        .web {
        }
        .images {
            height: 1110px;
            width: 740px;
        }
        .baner1 {
            margin-top: 50px;
            width: 365px;
            height: 365px;
            &.col-md-4{
            }
            &.col-sm-6{
            }
            &.col-xs-12{
            }
            .active_baner();
        &:hover{
            .active {visibility: visible};
        }
        }
        .baner2 {
            margin-top: 50px;
            width: 365px;
            height: 365px;
            &.col-md-4{
            }
            &.col-sm-6{
            }
            &.col-xs-12{
            }
            .active_baner();
        &:hover{
            .active {visibility: visible};
        }
        }
        .baner3 {
            width: 365px;
            height: 365px;
            &.col-md-4{
            }
            &.col-sm-6{
            }
            &.col-xs-12{
            }
            .active_baner();
        &:hover{
            .active {visibility: visible};
        }
        }
        .baner4 {
            width: 365px;
            height: 365px;
            &.col-md-4{
            }
            &.col-sm-6{
            }
            &.col-xs-12{
            }
            .active_baner();
        &:hover{
            .active {visibility: visible};
        }
        }
        .baner5 {
            width: 365px;
            height: 365px;
            &.col-md-4{
            }
            &.col-sm-6{
            }
            &.col-xs-12{
            }
            .active_baner();
        &:hover{
            .active {visibility: visible};
        }
        }
        .baner6 {
            width: 365px;
            height: 365px;
            &.col-md-4{
            }
            &.col-sm-6{
            }
            &.col-xs-12{
            }
            .active_baner();
        &:hover{
            .active {visibility: visible};
        }
        }
    }
    .Our_news {
        width: 730px;
        margin-left: 10px;
        height: 1300px;
        margin-top: 0px;
        .media_helper();
        .btn_news {
             margin-left: 200px;
        }
        .railway_station {
            float: none;
            width: 720px;
            h3 {
                width: 300px;
                position: relative;
                left: 400px;
                top: -340px;
            }
            h6 {
                width: 300px;
                position: relative;
                left: 400px;
                top: -340px;
            }
            p {
                position: relative;
                left: 400px;
                top: -340px;
            }
             .active_work();
            &:hover{
                .active {visibility: visible};
                h3 {color: @green_color;}
            }
        }
        .rail_img {
            margin-left: 30px;
        }
        .Local_Libary {
            margin-top:-150px;
            float: none;
            width: 720px;
           .our_news();
             .active_work();
            &:hover{
                .active {visibility: visible};
                h3 {color: @green_color;}
            }
        }
        .Our_Journey {
            margin-top:-150px;
            float: none;
            width: 720px;
            .our_news();
             .active_work();
            &:hover{
                .active {visibility: visible};
                h3 {color: @green_color;}
            }
        }
    }
    .client_quote {
        margin-top: 50px;
        .text {
            margin-left: 330px;
            @media (min-width: 860px) {
                margin-left: 40%;
            }@media (min-width: 930px) {
                margin-left: 50%;
            }
        }
        .quotes {
        }
        p {
        }
        .writer {
        }
        h6 {
        }
    }
    .Our_teams {
        width: 730px;
        margin-left: 10px;
        height: 1200px;
        .media_helper();
        
        .btn_team {
            margin-left: 200px;
        }
        .worker {
            width: 730px;
            .img_worker {
                margin-left:  0px;
            }
            h3 {
                margin-right: 180px;
            }
            h6 {
                 margin-right: 200px;
            }
            p {
                  width: 300px;
                margin-right: 100px;
            }
            .activer(){ margin-left: 40px};
        &:hover {
            .activee {visibility: visible};
        }
        }
        .worker2 {
            .wokers();
             .activer();
        &:hover {
            .activee {visibility: visible};
        }
        }
        .worker3 {
          .wokers();
             .activer();
        &:hover {
            .activee {visibility: visible};
        }
        }
        .worker4 {
           .wokers();
            h3{
                margin-right: 220px;
            }
             .activer();
        &:hover {
            .activee {visibility: visible};
        }
        }
    }
    .clients {
        width: auto;
        .client1 {
            position: relative;
            top: 30px;
            display: block;
            margin-left: 300px;
            .media_clients();
        }
        .client2 {
            position: relative;
            top: 40px;
            display: block;
            margin-left: 300px;
            .media_clients();
        }
        .client3 {
            position: relative;
            top: 50px;
            display: block;
            margin-left: 300px;
            .media_clients();
        }
        .client4 {
            position: relative;
            top: 60px;
            display: block;
            margin-left: 300px;
            .media_clients();
        }
        .client5 {
            position: relative;
            top: 70px;
            display: block;
            margin-left: 300px;
            .media_clients();
        }
    }
    
    
    
    .footr {
        height: 900px;
        .btn_up{
            top: 7958px;
            left: 50%;
        }
        .about_us {
            margin-left: 8%;
            h5 {
            }
            p {
            }
        }
        .email {
        }
        .mail {
            &:hover{
            }
        }
        .tel {
        }
        .phone {
        }
        .location {
        }
        .adres {
            &:hover{
            }
        }
        .recent_news {
            margin-left: 10%;
            h5 {
            }
        }
        .news1 {
            a {
                &:hover{
                }
            }
            .writer {
            }
        }
        .happens1 {
            
        }
        .news2 {
            margin-top: 10px;
            .writer {
            }
        }
        .happens2 {
        }
        .news3 {
            top: 10px;
            .writer {
            }
        }
        .happens3 {
        }
        .recent_works {
            margin-left: 12%;
            
            h5 {
            }
            p {
            }
        .works {
            
        }
        img {
        }
        .keep_touch {
               margin-left: 30px;
        }
        hr {
        }
        .twiter {
        }
        .soc {
        }
        .face {
        }
        .in {
        }
    }
    .backs {
        .nav {
            width: 730px;
        }
        .Home {
            &:hover{
            }
        }
        .else {
            &:hover{
            }
        }
        .corporation {
            margin-top: 25px!important;
        }
    }  
    
}
}
